@model AnagraficaListViewModel;
@{
    ViewData["Title"] = "Anagrafica";
}


<div class="container p-0">
    <div class="d-flex justify-content-between">
        <h2>Anagrafica</h2>

        <a class="btn btn-success align-content-center" asp-controller="Anagrafica" asp-action="Add">Aggiungi Anagrafica</a>

    </div>
    <hr />
    <div class="row">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Codice Fiscale</th>
                <th>Citta'</th>
                <th>Indirizzo di Residenza</th>
                <th>Cap</th>
            </tr>
            </thead>
            <tbody>
                @if(Model.AnagList != null && Model.AnagList.Any())
                {
                    foreach(var item in Model.AnagList){
                            <tr>
                                <td>@item.Cognome</td>
                                <td>@item.Nome</td>
                                <td>@item.CodiceFiscale</td>
                                <td>@item.Citta</td>
                                <td>@item.Indirizzo</td>
                                <td>@item.Cap</td>
					        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>